<h2 mat-dialog-title>Create Message</h2>
<form [formGroup]="messageForm" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    <mat-form-field>
      <input matInput formControlName="title" placeholder="Title" />
      <mat-error *ngIf="messageForm.get('title')?.invalid"
        >Title is required</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <textarea
        matInput
        formControlName="content"
        placeholder="Content"
      ></textarea>
      <mat-error *ngIf="messageForm.get('content')?.invalid"
        >Content is required</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        formControlName="delayInMinutes"
        placeholder="Delay in Minutes"
        type="number"
      />
      <mat-error *ngIf="messageForm.get('delayInMinutes')?.invalid">
        Delay in Minutes is required and must be at least 1
      </mat-error>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button [disabled]="!messageForm.valid" type="submit">
      Submit
    </button>
    <button mat-button (click)="onCancel()">Cancel</button>
  </mat-dialog-actions>
</form>
