<div class="sidebar" [ngClass]="{ 'no-items': notes.length === 0 }">
  <ng-container *ngIf="notes.length > 0; else noNotes">
    <div 
      *ngFor="let note of notes"
      class="sidebar-item" 
      [ngClass]="{ 'selected': selectedNote === note }"
      (click)="selectNote(note)">
      <div class="note-header">
        <p>{{ note.title }}</p>
        <div class="note-timer">
          <mat-icon>lock</mat-icon>
          <span>{{ getFormattedDelay(note.delayInMinutes) }}</span>
        </div>
      </div>
    </div>
  </ng-container>
</div>

<ng-template #noNotes>
  <div class="no-notes">No notes</div>
</ng-template>