<h2 mat-dialog-title>{{ isEditMode ? "Edit Note" : "Create Note" }}</h2>
<form [formGroup]="noteForm" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    <mat-form-field>
      <input matInput formControlName="title" placeholder="Title" />
      <mat-error *ngIf="noteForm.get('title')?.invalid"
        >Title is required</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <textarea
        matInput
        formControlName="content"
        placeholder="Content"
      ></textarea>
      <mat-error *ngIf="noteForm.get('content')?.invalid"
        >Content is required</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <div style="display: flex; align-items: center">
        <input
          matInput
          formControlName="delayInMinutes"
          placeholder="Delay in Minutes"
          type="number"
        />
        <mat-icon
          matTooltip="Set the delay in minutes before this note unlocks. You won't be able to view or edit the note until it unlocks."
          aria-label="Delay in Minutes Tooltip"
          style="margin-left: 8px; cursor: pointer"
          >help_outline</mat-icon
        >
      </div>
      <mat-error *ngIf="noteForm.get('delayInMinutes')?.invalid">
        Delay in Minutes is required and must be at least 1
      </mat-error>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button [disabled]="!noteForm.valid" type="submit">
      {{ isEditMode ? "Update" : "Create" }}
    </button>
    <button mat-button (click)="onCancel()">Cancel</button>
  </mat-dialog-actions>
</form>
