<div class="about-container mat-elevation-z3">
    <h1>About Time Lock</h1>
    <p>
      Welcome to <strong>Time Lock</strong>! Our app empowers you to create secure, time-delayed messages that can only be accessed after a set period. 
      This feature is particularly useful for storing sensitive information such as passwords for app or website blockers, ensuring that you have a cooldown period to help prevent unwanted access.
    </p>
    <p>
      Whether you're looking to boost your productivity by limiting distractions or just want an extra layer of security for your confidential data, Time Lock provides a simple and effective solution. 
      Experience the peace of mind that comes with knowing your information is both safe and temporally protected.
    </p>
  </div>
  