<mat-card class="auth-card">
  <mat-tab-group dynamicHeight [(selectedIndex)]="authMethodIndex">
    <mat-tab label="Login">
      <form [formGroup]="loginForm" (ngSubmit)="onLogin()" class="auth-form">
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" type="email" required>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput formControlName="password" type="password" required>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Login</button>
      </form>
    </mat-tab>
    <mat-tab label="Sign Up">
      <form [formGroup]="signupForm" (ngSubmit)="onSignup()" class="auth-form">
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" type="email" required>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput formControlName="password" type="password" required>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Sign Up</button>
      </form>
    </mat-tab>
    <!-- <mat-tab label="Send Sign-In Link">
      <form [formGroup]="emailForm" (ngSubmit)="onSendLink()" class="auth-form">
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" type="email" required>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Send Link</button>
      </form>
    </mat-tab> -->
  </mat-tab-group>
</mat-card>
