.responsive-container {
  display: flex;
  justify-content: space-around;
}

.auth-card {
  width: 100%;
  max-width: 500px;
  padding: 20px;
  box-sizing: border-box;
  align-self: center;
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 32px;
}

mat-form-field {
  width: 100%;
}

button {
  align-self: center;
}

.mat-tab-group {
  width: 100%;
}

.mat-tab-body-wrapper {
  overflow: hidden !important; /* Prevents scrollbars on tab content */
}