<mat-toolbar>
  <div class="top-bar-left">
    <button
      mat-icon-button
      (click)="createNote()"
      aria-label="Add New Note Button"
    >
      <mat-icon>add</mat-icon>
    </button>
    <button
      mat-icon-button
      (click)="deleteNote()"
      [disabled]="!selectedMessage"
      aria-label="Delete Selected Note Button"
    >
      <mat-icon>delete</mat-icon>
    </button>
  </div>
  <div class="divider"></div>
  <div class="top-bar-right">
    <button
      mat-icon-button
      (click)="editNote()"
      [disabled]="!selectedMessage || !timerFinished"
      aria-label="Edit Selected Note Button"
    >
      <mat-icon>edit</mat-icon>
    </button>
  </div>
</mat-toolbar>
