<mat-toolbar>
  <div class="top-bar-left">
    <button mat-icon-button (click)="createNote()">
      <mat-icon aria-label="Add New Note Button">add</mat-icon>
    </button>
    <button
      mat-icon-button
      (click)="deleteNote()"
      [disabled]="!selectedMessage"
    >
      <mat-icon aria-label="Delete Selected Note Button">delete</mat-icon>
    </button>
  </div>
  <div class="divider"></div>
  <div class="top-bar-right">
    <button
      mat-icon-button
      (click)="editNote()"
      [disabled]="!selectedMessage || !timerFinished"
    >
      <mat-icon aria-label="Edit Selected Note Button">edit</mat-icon>
    </button>
  </div>
</mat-toolbar>
