.mat-toolbar {
  padding: 0 !important; /* Ensure no padding */
  box-sizing: border-box; /* Ensure consistent box sizing */
}

.mat-toolbar {
  display: flex;
  justify-content: space-between;
}

.top-bar-left {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: calc(
    30% - 0.5px
  ); /* Adjust the width to account for 1 pixel discrepancy */
  padding-left: 0; /* Ensure no extra padding */
  padding-right: 10px;
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.divider {
  border-left: 1px solid #ccc;
  height: 100%;
  // margin: 0 10px;
}

.top-bar-right {
  display: flex;
  align-items: center;
  padding-left: 10px;
  width: 70%; /* Take up the remaining width */
}

.mat-form-field {
  width: 100%;
}

.spacer {
  flex: 1 1 auto;
}

button {
  padding: 0 10px;
}
