.messages-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content-container {
  display: flex;
  height: 100%;
}

app-sidebar {
  width: 30%;
  border-right: 1px solid #ccc;
  overflow-y: auto;
}

app-message-display {
  width: 70%;
  padding: 20px;
}
