<div *ngIf="message; else noMessage">
  <div *ngIf="!isTimerFinished">
    <div class="timer-display">
      <mat-icon>lock</mat-icon>
      <div class="countdown">{{ timerDisplay }}</div>
    </div>
    <button mat-raised-button (click)="onCancel()" aria-label="Deselect current note button">Cancel</button>
  </div>

  <div *ngIf="isTimerFinished">
    <div class="message-content">
      <p>{{ encryption.decrypt(message.content) }}</p>
    </div>
  </div>
</div>
<ng-template #noMessage>
  <p>Select a note to view its content.</p>
</ng-template>
